@model IEnumerable<SimpleCrud.Models.ProductModel>

<p>
    <a href="/product/create" class="text-light">Create New</a>
</p>

<div class="container d-flex flex-wrap">
    @foreach(var item in Model)
    {
        string fullName = item.Name;
        string firstWord = fullName.IndexOf(" ") > 0 ? fullName.Substring(0, fullName.IndexOf(" ")) : fullName;

        //get substring of Description
    <div class="card m-3 border-0 bg-light" style="width: 18rem;">
        <img class="card-img-top" src="https://loremflickr.com/320/250/@firstWord?lock=@item.Id" alt="@item.Name">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">$@item.Price</p>
            
            <p class="card-text">@item.Description.Substring(0, 60)</p>
            <a href="/product/showdetails/@item.Id" class="btn btn-primary">Details</a>
            <a href="/product/edit/@item.Id" class="btn btn-warning">Edit</a>
            <a href="/product/delete/@item.Id" class="btn btn-danger">Delete</a>
        </div>
    </div>
    }
</div>

